#EC2에 접근 하는 application
spring:
  config:
    activate:
      on-profile: prod

  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://super-1.cxxieeplexh7.ap-northeast-2.rds.amazonaws.com:3306/supercoding?serverTimezone=Asia/Seoul
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update # 스키마 자동 생성
    show-sql: true # SQL 퀴리 출력
    properties:
      hibernate:
        format_sql: true # SQL pretty print

logging:
  config: classpath:logback-spring-prod.xml

cloud:
  aws:
    region:
      static: ap-northeast-2  # AWS 기본 리전을 설정
    stack:
      auto: false
    s3:
      bucket: ${S3_BUCKET}
      access-key: ${S3_ACCESS_KEY}
      secret-key: ${S3_SECRET_KEY}